body{
	padding: 0;
	margin: 0;
	font-family: 'lucida sans','lucida sans';
	background-color: #C0E8C8;
}
header{
	color: white;
	height: 330px;
	background: center url(../image/gal1.jpg);
	background-size: cover;
}
.ww{
	text-decoration:none;
	color: white;
	text-shadow: 1px 1px 2px black,0 0 1em #C0E8C8;
}
header p{
font-size: 17px;
text-align: right;
margin-right: 5px;
}
header p b{
font-size: 20px;

}
header h1{
	margin: 0;
	text-align: center;
	font-size: 30px;
	margin-left: 20px;
}
}
header img{
	position: relative;
	top: 9px;
}
header h1 img{
	margin-left: 0px;
	margin-top: 0px;
	border: none;
}
.contact_border{
	border-collapse: collapse;
	border: 2px solid rgba(0,0,0,0);
}
.contact_info{
	font-size: 14px;
	margin-left: 10px
}
header ul{
text-align: center;
margin-top: 175px;
background: #7BC67C;
}
header ul li{
display: inline;
margin: 0 20px;
}
header ul li a{
	color: white;
	font-size: 30px;
	text-decoration:none;
}
.h1 {
	text-align: center;
}


@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

.animate_text {
	background: #64AF65;
    border: 2px solid black;
    margin-top: 45px;
    text-align: center;
  overflow: hidden;
  font: 5vw/10vh "Finger Paint";
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
}

span {
  display: inline-block;
  text-shadow: 0 0 0 black;
  animation: smoky 5s 3s both;
}

span:nth-child(even){
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg)
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){
    animation-delay: #{(3 + ($item/10))}s;
  }
}

.mys{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.www{
	float: left;
	margin: 7px 7px 7px 0;
}
.vis{
	background: #64AF65;
	border: 2px solid black;
	margin-top: 30px;
	text-align: center;
}
.rr{
	text-align: center;
}
p{
	font-size: 25px;
}
footer{
	margin-top: 40px;
	color: white;
	height: 244px;
	background: center url(../image/podval.jpg);
	background-size: cover;
	text-shadow: 1px 1px 2px black,0 0 1em #C0E8C8;
}
footer p{
margin-top: 60px;
font-size: 17px;
text-align: right;
margin-right: 5px;
}

footer h1 a{
	margin: 0;
	text-align: left;
	font-size: 23px;
	margin-left: 30px;
	text-decoration:none;
	color: white;
;
}
footer img{
	position: relative;
	top: 15px;
}
footer h1 img{
	margin-left: 0px;
	margin-top: 0px;
	border: none;
}
footer ul{
text-align: center;
margin-top: 10px;
}
footer ul li{
display: inline;
margin: 0 40px;
}
footer ul li a{
	color:black;
	font-size: 30px;
	text-decoration:none;
	text-shadow: 1px 1px 2px white,0 0 1em #C0E8C8;
}
