body{
	padding: 0;
	margin: 0;
	font-family: 'lucida sans','lucida sans';
	background-color: #C0E8C8;
}
header{
	color: white;
	height: 330px;
	background: center url(../image/gal1.jpg);
	background-size: cover;
}
.ww{
	text-decoration:none;
	color: white;
	text-shadow: 1px 1px 2px black,0 0 1em #C0E8C8;
}
header p{
font-size: 17px;
text-align: right;
margin-right: 5px;
}
header p b{
font-size: 20px;

}
header h1{
	margin: 0;
	text-align: center;
	font-size: 30px;
	margin-left: 20px;
}

header img{
	position: relative;
	top: 9px;
}
header h1 img{
	margin-left: 0px;
	margin-top: 0px;
	border: none;
}
header ul{
text-align: center;
margin-top: 175px;
background: #7BC67C;
}
header ul li{
display: inline;
margin: 0 20px;
}
header ul li a{
	color: white;
	font-size: 30px;
	text-decoration:none;
}
.ssylka_bes_obvodki{
	text-decoration:none;
	color: black;
}
.poseredine{
	text-align: center;
}
.vis{
	background: #64AF65;
	border: 2px solid black;
	margin-top: 50px;
	text-align: center;
	font-size: 50px;
	animation: bounce-top 1s 1;
}
@keyframes bounce-top {
	0% {
	  transform: translateY(-45px);
	  animation-timing-function: ease-in;
	  opacity: 1;
	}
	24% {
	  opacity: 1;
	}
	40% {
	  transform: translateY(-24px);
	  animation-timing-function: ease-in;
	}
	65% {
	  transform: translateY(-12px);
	  animation-timing-function: ease-in;
	}
	82% {
	  transform: translateY(-6px);
	  animation-timing-function: ease-in;
	}
	93% {
	  transform: translateY(-4px);
	  animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
	  transform: translateY(0px);
	  animation-timing-function: ease-out;
	}
	100% {
	  transform: translateY(0px);
	  animation-timing-function: ease-out;
	  opacity: 1;
	}
}
.linia{
	display: inline-block;
	text-align: center;
	padding: 40px;
	text-decoration: none;
}
.nise{
	margin-top: 15px;
}
.stolb{
	border: 1px solid rgba(0,0,0,0);
	padding: 5px;
	font-size: 14sp;
}

.text_rev {
	margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
		font-size: 21px;
}

footer{
	margin-top: 40px;
	color: white;
	height: 244px;
	background: center url(../image/podval.jpg);
	background-size: cover;
	text-shadow: 1px 1px 2px black,0 0 1em #C0E8C8;
}
footer p{
margin-top: 60px;
font-size: 17px;
text-align: right;
margin-right: 5px;
}

footer h1 a{
	margin: 0;
	text-align: left;
	font-size: 23px;
	margin-left: 30px;
	text-decoration:none;
	color: white;
;
}
footer img{
	position: relative;
	top: 15px;
}
footer h1 img{
	margin-left: 0px;
	margin-top: 0px;
	border: none;
}
footer ul{
text-align: center;
margin-top: 10px;
}
footer ul li{
display: inline;
margin: 0 40px;
}
footer ul li a{
	color:black;
	font-size: 30px;
	text-decoration:none;
	text-shadow: 1px 1px 2px white,0 0 1em #C0E8C8;
}
