body{
	padding: 0;
	margin: 0;
	font-family: 'lucida sans','lucida sans';
	background-color: #C0E8C8;
}
header{
	color: white;
	height: 330px;
	background: center url(../image/gal1.jpg);
	background-size: cover;
}
.ww{
	text-decoration:none;
	color: white;
	text-shadow: 1px 1px 2px black,0 0 1em #C0E8C8;
}
header p{
font-size: 17px;
text-align: right;
margin-right: 5px;
}
header p b{
font-size: 20px;

}
header h1{
	margin: 0;
	text-align: center;
	font-size: 30px;
	margin-left: 20px;
}
}
header img{
	position: relative;
	top: 9px;
}
header h1 img{
	margin-left: 0px;
	margin-top: 0px;
	border: none;
}
header ul{
text-align: center;
margin-top: 175px;
background: #7BC67C;
}
header ul li{
display: inline;
margin: 0 20px;
}
header ul li a{
	color: white;
	font-size: 30px;
	text-decoration:none;
}
img{
	margin: 0 63px;
}
ul{
	text-align: center;
}

 li a{
text-decoration:none;
color: black;

}
h1{
	margin: 0;
	text-align: center;
	font-size: 50px;
}
h1 a{
	text-decoration:none;
	color: white;
}
h1 img{
	margin-top: 60px;
	display: inline;
	border: 1px solid black;

}
.vis{
	background: #64AF65;
	border: 2px solid black;
	margin-top: 30px;
}
.vis1{
	margin-left: -340px;
	margin-right: -60px;
	position: absolute;
}
.vis2{
	margin-left: 10px;
	margin-right: -70px;
	position: absolute;
}
.vis3{
	margin-left: 340px;
	margin-right: -395px;

}
.w{
display: inline;
margin: 0 100px;
}
.nise{
	margin-top: 15px;
}
.stolb{
	 list-style-type: none;
}
footer{
	margin-top: 158px;
	color: white;
	height: 244px;
	background: center url(../image/podval.jpg);
	background-size: cover;
	text-shadow: 1px 1px 2px black,0 0 1em #C0E8C8;
}
footer p{
margin-top: 60px;
font-size: 17px;
text-align: right;
margin-right: 5px;
}
footer h1{
	margin: 0;
	text-align: left;
	font-size: 23px;
	margin-left: 30px;
}
footer img{
	position: relative;
	top: 15px;
}
footer h1 img{
	margin-left: 0px;
	margin-top: 0px;
	border: none;
}
footer ul{
text-align: center;
margin-top: 10px;
}
footer ul li{
display: inline;
margin: 0 40px;
}
footer ul li a{
	color:black;
	font-size: 30px;
	text-decoration:none;
	text-shadow: 1px 1px 2px white,0 0 1em #C0E8C8;
}
input#mess{
width: 400px;
height: 25px;
padding: 10px;
border-radius: 10px;
border: 1px green solid;
box-sizing: border-box;
margin-top: 158px;

}
button {
height: 25px;
}
div#wish{
margin: 10px;
font-size: 150%;
color: white;
background: rgba(1,1,1,0.5);
border-radius: 10px;
}
.container{
	text-align: center;
}
